<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>

<body>
<header th:replace="fragments/navigation"></header>

<main class="p-5 align-content-center bg-blur my-register-div">
    <h1 class="border-bottom mb-5">Login</h1>
    <div class="d-flex justify-content-center">

        <div class="row g-3 align-items-center">

            <form th:action="@{/users/login}"
                  th:object="${userLoginDTO}"
                  th:method="POST">
                <div>
                    <div class="col-auto">
                        <label class="col-form-label" for="username">Username</label>
                    </div>
                    <div class="col-auto">
                        <input class="form-control"
                               type="text"
                               name="username"
                               id="username"
                               th:field="*{username}"
                               aria-describedby="usernameHelpInline">
                    </div>
                </div>
                <div>
                    <div class="col-auto">
                        <label class="col-form-label" for="password">Password</label>
                    </div>
                    <div class="col-auto">
                        <input class="form-control"
                               type="password"
                               name="password"
                               id="password"
                               th:field="*{password}"
                               aria-describedby="passwordHelpInline">
                    </div>

                    <p class="errors alert alert-danger" th:if="${showErrorMessage}">
                        Invalid username or password.
                    </p>
                </div>
                <div class="d-flex justify-content-center mt-2">
                    <button class="btn btn-primary btn-block w-50" type="submit">Login</button>
                </div>
            </form>
        </div>

    </div>
</main>
<footer th:replace="fragments/footer"></footer>
</body>
</html>
